<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <javaScriptServices>
      <apps>
        <app name="exercises"
             deploymentSecret="iwnzyqdia59z38wa5t665huo9h9gc2yxmnsuf6li0ca"
             debugSecurity="false"
        />
      </apps>
    </javaScriptServices>
  </sitecore>
</configuration>
